{% assign el = 'falling-shapes' %}
<div class="{{ el }}">
  <div class="{{ el }}__item {{ el }}__item--star"></div>
  <div class="{{ el }}__item {{ el }}__item--star-orange"></div>
  <div class="{{ el }}__item {{ el }}__item--pill"></div>
  <div class="{{ el }}__item {{ el }}__item--flower"></div>
  <div class="{{ el }}__item {{ el }}__item--circle"></div>
</div>
