{% assign subEl = 'product-gallery' %}
<div class="{{ subEl }}">
  <div class="{{ subEl }}__inner">
    {% if product.images.size > 1 %}
      <ul class="{{ subEl }}__list">
        {% for image in product.images %}
        <li  class="{{ subEl }}__list-item">
          <a href="{{ image | img_url: '909x1510', crop: 'center', format: 'jpg' }}">
            <img src="{{ image | img_url: '150x187', crop: 'center', format: 'jpg' }}"
              alt="{{ image.alt | escape }}" />
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="{{ subEl }}__featured">
      {% if product.images.size == 0 %}
        <img src="{{ '' | img_url: '909x1510', crop: 'center', format: 'jpg' }}" alt="Fallback" />
      {% else %}
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image | img_url: '909x1510', crop: 'center', format: 'jpg' %}
        <a href="{{ featured_image }}">
          <img src="{{ featured_image }}" alt="{{ product.selected_or_first_available_variant.featured_image.alt | escape }}" />
        </a>
        {% if product.selected_or_first_available_variant.featured_image.alt %}
          <span class="{{ subEl }}__featured-title">{{ product.selected_or_first_available_variant.featured_image.alt | escape }}</span>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
